<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopeStorage,ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fee_logo1"
        android:roundIcon="@drawable/fee_logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <service android:name=".fragment.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.FeeManagementSystem" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path"/>
        </provider>

    </application>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>

<!--    <permission-->
<!--        android:name="android.permission.CAMERA"-->
<!--        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"-->
<!--        android:protectionLevel="normal"-->
<!--        tools:ignore="ReservedSystemPermission" />-->
<!--    <permission-->
<!--        android:name="android.permission.WRITE_EXTERNAL_STORGE"-->
<!--        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"-->
<!--        android:protectionLevel="normal"-->
<!--        tools:ignore="ReservedSystemPermission" />-->

</manifest>